/* ---------- Color Module Styles ----------- */

body {
  color: #301313;
  background: #2c2c28;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fcf6e4;
}
.tabs ul.primary li a.is-active {
  background-color: #fcf6e4;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #fcf6e4;
  background-color: #fcf6e4;
}
#header {
  background-color: #000000;
  background-image: -webkit-linear-gradient(top, #722d84 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #722d84 0%, #000000 100%);
}
a,
.link {
  color: #9d408d;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #da2a2a;
}
a:active,
.link:active {
  color: #e95353;
}
.sidebar .block {
  border-color: #dddcdc;
  background-color: #ffffd3;
}
.site-footer {
  background: #2c2c28;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #ffffff;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
